#  Modelación Volatilidad en Tasas de Cambio con modelos de la familia GARCH

**Integrantes**
- David López
- Camilo Velez
- Sebastian Ávila
- David Armendariz

## Importando Librerías

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

## Cargando DataSet

In [3]:
df=pd.read_csv("../data/trusted/currency_exchange.csv")
print(df.dtypes)
print(df.shape)
display(df.head())
display(df.tail())

Fecha       object
USD_CAD    float64
USD_AUD    float64
dtype: object
(784, 3)

        Fecha  USD_CAD  USD_AUD
0  2024-04-05   1.3590   1.5201
1  2024-04-04   1.3543   1.5180
2  2024-04-03   1.3527   1.5233
3  2024-04-02   1.3567   1.5342
4  2024-04-01   1.3570   1.5410

          Fecha  USD_CAD  USD_AUD
779  2021-04-12   1.2563   1.3117
780  2021-04-09   1.2530   1.3125
781  2021-04-08   1.2562   1.3066
782  2021-04-07   1.2609   1.3137
783  2021-04-06   1.2566   1.3049